<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> HOME </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <label for="file">Escolha uma imagem</label>
      <ion-input
        type="file"
        formControlName="pic"
        (change)="selImg($event)"
        id="file"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        type="text"
        formControlName="nome"
        placeholder="Nome"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input
        type="number"
        formControlName="celular"
        placeholder="Celular"
      ></ion-input>
    </ion-item>

    <ion-button
      [disabled]="formGroup.status !=='VALID'"
      color="success"
      type="submit"
      >Salvar</ion-button
    >
    <ion-button color="danger" (click)="listarDadosSalvos()"
      >Ver Dados</ion-button
    >
    <ion-button color="dark" (click)="limparDados()">Limpar</ion-button>
  </form>
</ion-content>
