<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="full-screen-content">
  <ion-list *ngIf="dadosSalvos.length > 0">
    <ion-item *ngFor="let dado of dadosSalvos">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="{{ dado.pic }}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ dado.nome }}</h2>
        <br />
        <h3>{{ dado.celular }}</h3>
      </ion-label>
      <ion-label></ion-label>
    </ion-item>
    <div *ngIf="dadosSalvos.length === 0">Nenhum dado salvo.</div>
  </ion-list>
  <ion-button color="tertiary" (click)="voltar()">Home</ion-button>
</ion-content>
